.gradesContainer {
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
    justify-content: center;
}

.classSection {
    border: 1px solid rgba(51, 102, 153, 0.479);
    padding: 1em;
    border-radius: 0.5em;
}

.h1 {
    color: #369;
    margin-bottom: 2rem;
}

.h2 {
    color: #369;
}

.card_container {
    border: 1px solid rgba(51, 102, 153, 0.404);
    font-size: 18px;
}

.add_btn {
    margin-bottom: 1em;
    margin-left: 1em;
}

.card_container .tbody {
    position: initial;
}