.pageHelp {
    padding: 2em;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 7px rgba(51, 102, 153, 0.5);
}

.pageHelp .pageHelp_main {
    background-color: transparent !important;
    color: #369;
}

.logoHelp {
    color: #369;
    font-size: 5em;
}

.p {
    color: #369;
}

.button {
    background-color: #369;
    color: #fff;
    display: inline-block;
    padding: 0.2rem 1.4rem;
    border-radius: 0.3rem;
    font-size: 1.5em;
}

.pageHelp .link {
    text-decoration: none;
}

.button:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .pageHelp {
        font-size: 10px;
    }
}