/* Footer styles */

.footer {
    text-align: center;
    width: 92%;
    margin: 1rem auto 0;
    color: white;
    background: #f7f7f7;
    color: #369;
    border-top: 1px solid #369;
    padding: 2rem 0;
}
  
.footer .par {
    font-size: 1.4em;
    color: #369;
    text-align: center;
}

/* new line */

.contacts {
    border-right: 1px solid #369;
    padding-right: 4rem;
}

.footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    gap: 8em;

}

.links .media {
    height: 8rem;
    background-color: #369;
    border-radius: 0.3em;
    overflow: hidden;
}

.links .media .img {
    width: auto;
    height: 100%;
}

.footer .ul .list,
.footer .ul .link,
.footer .par {
    display: block;
}

.footer .ul .list {
    line-height: 2;
}

.footer .links .contacts .h4 {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.contacts .par {
    margin-bottom: 0.4em;
}

.contacts .ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1em;
}

.contacts .ul .list .link {
    color: #369;
    font-size: 3em;
    line-height: 0;
}

.footer > .par .link {
    display: inline-block;
}

.footer .ul .list .link:hover,
.footer .media .img:hover,
.footer > .par .link:hover {
    transform: scale(1.1);
}

.footer > .par {
    font-size: 1.5em;
}

@media (max-width: 768px) {
    /* Footer  */
    .links {
        flex-direction: column;
    }

    .contacts {
        padding-right: 0;
        border-right: none;
    }

    .footer .par {
        font-size: 0.9rem;
    }
}