.register {
    width: 60ch;
    padding: 2em;
    box-shadow: 0 0 7px rgba(51, 102, 153, 0.5);
    border-radius: 0.3em;
    align-items: center;
}

.register .register_flex {
    flex: 1 1 100%;
    align-items: center;
}

.register .media {
    border-radius: 0.3em;
    overflow: hidden;
    margin-bottom: 1rem;
}

.img {
    background-color: #369;
    width: 5em;
    height: auto;
}

.form {
    font-size: 1.2em;
}

.form.p {
    margin-top: 1em;
    margin-bottom: 0;
    color: #369;
}

.h2 {
    font-size: 2em;
    color: #369;
    margin-bottom: 1rem;
    text-align: left;
}

.form_row {
    margin-bottom: 1.5rem;
}

.form .required::after {
    content: '*';
    color: red;
    margin-left: 0.3rem;
}

.form .span {
    color: #369;
}

.form .span.red {
    color: red;
}

.button {
    background-color: #369;
    padding: 0.5rem 1.4rem;
    font-size: 1.2em;
    border-radius: 0.3em;
}

.button:hover {
    background-color: lightblue;
    color: #369;
}

.label {
    color: #369;
    margin-bottom: 0.5rem;
    font-size: 1.2em;
}

.input {
    padding: 0.5rem 0;
    color: #369;
}

.gow_to {
    color: #369;
}

.gow_to .link:hover {
    border-radius: 0.3rem;
}

.gow_to .link:hover {
    color: #fff;
    background-color: #369;
    padding: 0.1rem;
}

@media (max-width: 768px) {
    .register {width: auto;}
}